.portfolio-item {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 2px solid #ddd;

  &:last-child {
    border-bottom: 0;
  }
}

.chevron-link {
  margin-right: 40px;

  &::after {
    content: '';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #005ea5;
    width: 0;
    height: 0;
    box-sizing: content-box;
    margin-left: 10px;
    margin-bottom: 1px;
  }
}
