.inner-wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

@include spacing();

@media (min-width: $bp-tablet-min) {
  @include grids-init('tablet-grid');
  @include spacing(tablet);
}

@media (min-width: $bp-desktop-min) {
  @include grids-init('desktop-grid');
  @include spacing(desktop);
}
