.pager {
  clear: both;
}

  .pager__item {
    display: inline-block;
  }

    .pager__link,
    .pager__item strong {
      display: inline-block;
      padding: 5px 8px;
    }

    .pager__link {
      background-color: #eee;
      border-radius: 2px;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: #333;
        color: #fff;
      }
    }
