.button {
  background-color: $color-button-bg;
  color: $color-button-fg;
  display: inline-block;
  padding: 8px 15px;
  margin: 0 $grid-gutter $vertical-spacing-tight 0;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $color-button-hover-bg;
    color: $color-button-hover-fg;
  }
}
