body {
  font-size: 16px;
  line-height: 1.35;
  font-family: 'Montserrat';
  color: $color-primary;
}

h1, h2, h3 {
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p,
ul,
ol {
  margin-bottom: 20px;
}

a {
  color: $color-primary;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
}

/**
 * Longform copy
 */
.longform {
  a {
    color: $color-body-link;
  }

  li {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 2em;

    li {
      list-style-type: disc;
    }
  }

  h2, h3 {
    margin-top: 40px;
  }
}
