.main-menu {
  font-size: 20px;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/**
 * Top level
 */
.main-menu__level-1 {
  @include pie-clearfix;
  position: relative;
  line-height: 50px;
}

.main-menu__level-1__item {
  float: left;
}

.main-menu__level-1__item--has-children {
  padding-bottom: 50px;
}

.main-menu__level-1__link:hover,
.main-menu__level-1__link:active,
.main-menu__level-1__item--active > a,
.main-menu__level-1__item--active-trail > a {

}

.main-menu__level-1__link {
  display: block;
  padding: 0 10px;
}

/**
 * Secondary level
 */
.main-menu__level-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include pie-clearfix;
}

.main-menu__level-2__item {
  float: left;
}

.main-menu__level-2__link {
  display: block;
  padding: 0 10px;
}

.main-menu__level-2__link:hover,
.main-menu__level-2__link:active,
.main-menu__level-2__item--active > a,
.main-menu__level-2__item--active-trail > a {

}
