.masthead {
  margin-bottom: 20px;
  @include cf;
}

  .masthead__logo {
    font-size: 50px;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    float: left;
    margin: 20px 0;
  }
