.masthead {
  margin-bottom: 20px;
  @include pie-clearfix;
  border-bottom: 1px solid $color-grey;

}

  .masthead__logo {
    font-size: 60px;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    float: left;
    margin: 20px 0;
  }
