.masthead {
  margin-bottom: 20px;
  border-bottom: 1px solid $color-grey;
  padding: 20px 0;
  @include cf;
}

  .masthead__logo {
    font-size: 50px;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    float: left;

    img {
      display: block;
    }
  }
